<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <a href=""><img src="" alt=""></a>
        <a href="">Shop</a>
        <a href="">Stories</a>
        <a href="">About</a>
        <input type="text">
        <img src="" alt="">
        <img src="" alt="">
        <span></span>
        <a href="">Login</a>

    </header>
    <main>
        <h2></h2>
        <small><strong></strong></small>
        <input type="checkbox" name="" id="">
        <input type="radio" name="" id="">
        <select></select>
        <small></small>

    </main>
    <footer></footer>
</body>
</html>