<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&family=Public+Sans:wght@100;200;300;400;500;600;700&display=swap');
    </style>
    <title>Document</title>
    <link rel="stylesheet" href="/css/geral.css">
</head> 
<body>
    <header>
        <div>
            <a href="#">Home</a>
            <a href="#">Categorias</a>
            <a href="#">Contatos</a>
            <a href="#" class="area">Area de Assinante</a>
        </div>
        <!-- <div class="box-header">

            <a href=""><img src="" alt=""></a>
            <a href="">Shop</a>
            <a href="">Stories</a>
            <a href="">About</a>
            <input type="text">
            <img src="" alt="">
            <img src="" alt="">
            <span>0</span>
            <a href="">Login</a>

        </div> -->

    </header>
    <main>
        <!-- <h1>Titulo da pagina</h1>
        <small><strong></strong></small>
        <input type="checkbox" name="" id="">
        <input type="radio" name="" id="">
        <select></select>
        <small></small> -->
        <!-- <aside >
            
            <div>
                <div class="new-categ">  
                    <h3>Categorias</h3>              
                    <input type="checkbox" name="" id="sweaters">
                    <label for="sweaters">Sweaters</label>
                    <input type="checkbox" name="" id="tops">
                    <label for="tops">Tops</label>
                    <input type="checkbox" name="" id="jaqueta">
                    <label for="jaqueta">jaqueta</label>
                    <input type="checkbox" name="" id="chapeu">
                    <label for="chapeu">chapeu</label>
                </div >

        </aside>
        <section>

                 <div class="box-select">
 
                     <label for="select">Ordenar por:</label>
                     <select name="select" id="select">
                         <option value="valor1">Menor Preço</option>
                         <option value="valor2" selected>Mais Vendidos</option>
                         <option value="valor3">Lançamentos</option>
                         <option value="valor4">Mais Relevantes</option>
                     </select>
                     
                 </div>
                 <div class="form-group">
                     <div class="box-prod">
                         <article class="prod-img">jaqueta Jaqueta<img src="/img/produto.jpeg" alt=""></article>
                     </div>
                     <div class="box-prod">
                         <article class="prod-img">jaquetaJaqueta<img src="/img/produto.jpeg" alt=""></article>
                     </div>
                     <div class="box-prod">
                         <article class="prod-img">jaqueta<img src="/img/produto.jpeg" alt=""></article>
                     </div>
                     <div class="box-prod">
                         <article class="prod-img">jaqueta<img src="/img/produto.jpeg" alt=""></article>
                     </div>
                     <div class="box-prod">
                         <article class="prod-img">jaqueta<img src="/img/produto.jpeg" alt=""></article>
                     </div>
                     <div class="box-prod">
                         <article class="prod-img">jaqueta<img src="/img/produto.jpeg" alt=""></article>
                     </div>
                     <div class="box-prod">
                         <article class="prod-img">jaqueta<img src="/img/produto.jpeg" alt=""></article>
                     </div>
                     <div class="box-prod">
                         <article class="prod-img">jaqueta<img src="/img/produto.jpeg" alt=""></article>
                     </div>
                     
                 </div>
        </section>   

        </div> -->

    </main>
    <footer>
        <div>

        </div>
    </footer>
</body>
</html>